@font-face {
    font-family: 'DangerZone';
    src: url('../assets/DangerZoneWarning.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('../assets/planeta1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mensagem{
    margin-top: 100px;
    color: #fff;
    text-align: center
}

#mensagem h1{
    font-weight: 900;
}

#mensagem p{
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}



#btnPausar{
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 0.375em;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
}